@model GradeBook.Models.Student

<h2>Grades for @Model.FirstName @Model.LastName</h2>
<table>
    <tr>
        <th>Subject</th>
        <th>Grade</th>
        <th>Date</th>
        <th>Description</th>
    </tr>
    @foreach (var grade in Model.Grades)
    {
        <tr>
            <td>@grade.Subject</td>
            <td>@grade.GradeValue</td>
            <td>@grade.Date.ToShortDateString()</td>
            <td>@grade.Description</td>
        </tr>
    }
</table>
<a href="@Url.Action("AddGrade", "Grades", new { studentId = Model.Id })">Add Grade</a>